.container{
   
    background-color: white;
    width: 375px;
    height: 550px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px black;
    margin-left: 40%;
}
.container:hover{
box-shadow: 15px 15px black;
}
body{
    background-color:hsl(47, 92%, 49%) ;
    font-family: Arial, sans-serif;
    padding: 50px;}
.card img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}
.tag{
    display: inline-block;
    background-color: hsl(47, 88%, 63%);
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
}
.date{
    color: gray;
    font-size: 14px;
    margin-bottom: 10px;
}
h2{
    font-size: 20px;
    margin: 10px 0;
}
h2:hover{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}
description{
    font-size: 15px;
    color: #555;
    margin-bottom: 20px;
}
.author{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    margin-top: 120px;

}
.author img{
    width: 30px;
    border-radius: 50%;
}